body, html {
    height: 100%;
    font-family: arial, helvetica, sans-serif;
    font-size: 12px;
    font-weight: normal;
    padding-left: 0;
    padding-right: 0;
}

/*
video-element
*/
.video-elm {
    margin: 10px;
}

/*
canvas-element
*/
.canvas-elm {
    margin: 10px;
}

/*
ta bilde-knapp
*/
.capture-image-elm {
    display: block;
}